.profilePage{
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 20px;
}

.profileCard{
    width: 25vw;
    height: 60vh;
    background-color: rgba(245, 255, 255, 0.591);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    position: relative;
    top: 12vh;
    left: 2vw;
    border-radius: 1rem;
    margin-right: 30px;
}

.profilePostsContainer{
    width: 46vw;
    height: 90vh;
    background-color: rgba(245, 255, 255, 0.591);
    position: relative;
    top: 12vh;
}

.followersContainer{
    width: 23.5vw;
    height: 90vh;
    background-color: rgba(245, 255, 255, 0.591);
    position: relative;
    top: 12vh;
    
}